body, html{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
}

body > header{
  border-bottom: solid 1px #ccc;
  position: relative;
  min-height: 100%;
  transition: min-height 0.5s;
}

body > header > div,
body > section{
  margin: 0 auto;
  max-width: 64rem;
  padding: 2rem;
}

h1 span{
  background-color: #fff;
  position: relative;
  z-index: 1;
}

h1{
  margin: 0;
  padding: 2em 0 0;
  font-size: 0.5em;
  font-weight: 100;
}

h1 span#place-name{
  font-size: 2em;
}

header svg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

table{
  width: 100%;
}

section, table{
  font-size: .5em;
}

td:first-child, th:first-child{
  padding-left: 0;
}

td:last-child, th:last-child{
  padding-right: 0;
  text-align: right;
}

td, th{
  padding: 0.5em 1em;
}

th{
  font-weight: 600;
  padding-bottom: 2em;
  text-align: left;
}

g.states path{
  cursor: pointer;
}

g.states path:hover,
g.states path.active{
  fill: #FFC72F;
}

circle{
  fill: #1F69AD;
}

g.municipalities > path{
  opacity: 0.8;
}
